.banner{
    background:url('../assets/image/night2.jpg');
    width: 100%;
    height:60vh;
    background-repeat: no-repeat;
    background-position:bottom;
    position: relative;
}

.banner-content{
    color:#fff;
    display: flex;
    justify-content: center;
}

.banner-content h2{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    position: absolute;
    top:48%;
    left: 2%;
    text-transform: uppercase;  
    background-image: linear-gradient(to left, #7c8092, rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.banner-content p{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 3px;
    position: absolute;
    top:56%;
    left: 2%;
    text-transform: uppercase;  
    background-image: linear-gradient(to left, #6f79a5, rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media(max-width:943px) {
    .banner-content h2{
        font-size: 2rem;
    }
    .banner-content p{
        font-size: 1rem;
    }
}

@media(max-width:575px) {
    .banner-content h2{
        font-size: 1.8rem;
    }
    .banner-content p{
        font-size: .8rem;
    }
}

@media(max-width:375px) {
    .banner-content h2{
        font-size: 1.3rem;
        top: 47%;
    }
    .banner-content p{
        font-size: .9rem;
    }
}