.cards-section{
    height:140vh;
    width: 100%;
}

.cards-title{
    margin-top: 3rem;
    font-size: 2rem;
    background-image: linear-gradient(to left, #bebebe, rgb(241, 241, 241));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;  
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin:0 auto;
    padding:4rem;
}

.cards__items{
    background-image: linear-gradient(to right, #070c1a, rgb(2, 2, 26));
    border: 1px solid #111111;
    padding: .5rem;
    border-radius: .75rem;
    height:42rem;
    transition: 0.4s;
}

.cards__items:hover{
   cursor: pointer;
   transform: scale(1.04);
   transition: 0.5s;
}

.cards__img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.cards__details {
    padding: 1rem;
 }

.cards__name {
    font-size: 2rem;
    margin-left: .4rem;
    font-weight: bold;
    color: #b3b3b3;
    line-height: 150%;
    display: flex;
    justify-content: left;
}

.cards__text{
    font-size: 1.5rem;
    margin-left: .4rem;
    font-weight: bold;
    color: #7b7c7c;
    display: flex;
    justify-content: left;
}



@media(max-width:943px){

    .cards-section{
        height:390vh;
    }
    
    .cards-container{
        display:flex;
        flex-wrap: wrap;
        padding:3rem 8rem;
    }

    .cards__items{
        padding: .5rem;
        border-radius: .75rem;
        height:35rem;
    }

    .cards-title{
        font-size:2rem;
    }
}


@media(max-width:1100px){

    .cards-section{
        height:170vh;
    }
}

@media(max-width:944px){

    .cards-section{
        height:380vh;
    }
}

@media(max-width:944px){

    .cards-section{
        height:300vh;
    }
}

@media(max-width:475px) {

    .cards-section{
        height:378vh;
    }

    .cards-container{
        padding:3rem 3rem;
    }

    .cards__name{
        font-size: 1.8rem;
    }

    .cards__text{
        font-size: 1.3rem;
    }
}

@media(max-width:423px) {
    .cards-section{
        height:330vh;
    }
    .cards-title{
        font-size: 1.8rem;
    }
    .cards__items{   
        padding:1rem;
    }
    .cards__name{
        font-size: 1.5rem;
    }
}

@media(max-width:378px){

    .cards-section{
        height:325vh;
    }

    .cards-title{
        font-size: 1.5rem;
    }

    .cards__items{
        height:39rem;
    }

    .cards__name{   
        font-size: 1.2rem;
    }
    
    .cards__text{
        font-size: 1.2rem;
    }
}

/* MULTI FORMAT  */

@media(max-width:378px) and (height:640px){
    .cards-section{
        height:410vh;
    }
}

@media(max-width:411px) and (height:731px){
    .cards-section{
        height:330vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}

@media(max-width:320px) and (height:568px){
    .cards-section{
        height:460vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}

@media(max-width:375px) and (height:667px){
    .cards-section{
        height:400vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}

@media(max-width:411px) and (height:823px){
    .cards-section{
        height:290vh;
    }
}

@media(max-width:414px) and (height:736px){
    .cards-section{
        height:330vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}


@media(max-width:768px) and (height:1024px){
    .cards-section{
        height:240vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}

@media(max-width:1024px) and (height:1366px){
    .cards-section{
        height:80vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}

@media(max-width:280px) and (height:653px){
    .cards-section{
        height:110vh;
    }
    .cards-title{
        font-size: 1.5rem;
    }
}