.cards-section{
    height:150vh;
    width: 100%;
}

.cards-title{
    margin-top: 3rem;
    font-size: 2.5rem;
    background-image: linear-gradient(to left, #bebebe, rgb(241, 241, 241));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;  
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin:0 auto;
    padding:4vh;
}

@media(max-width:943px) {

    .cards-section{
        height:420vh;
    }
    
    .cards-container{
        display:flex;
        flex-wrap: wrap;
        padding:8rem;
        gap: 4rem;
    }

    .cards__items{
        padding: .5rem;
        border-radius: .75rem;
        height:40rem;
    }
}

@media(max-width:546px) {
    .cards__items{
        height:50rem;
    }
}

@media(max-width:475px) {
    .cards-container{   
        padding:2rem;
    }
    .cards__name{
        font-size: 1rem;
    }

    .cards__text{
        font-size: .8rem;
    }
}

@media(max-width:350px) {
    .cards-title{
        font-size: 1.8rem;
    }
    .cards__items{   
        padding:2rem;
        height:60rem;
    }
    .cards__name{
        font-size: .8rem;
    }
    .cards__text{
        font-size: .6rem;
    }
}

.cards__items{
    background-image: linear-gradient(to bottom, #d3d3d3, rgb(241, 241, 241));
    border: 1px solid #bacdd8;
    padding: .5rem;
    border-radius: .75rem;
    height:45rem;
    transition: 0.4s;
}

.cards__items:hover{
   cursor: pointer;
   transform: scale(1.1);
   transition: 0.5s;
}

.cards__img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.cards__details {
    padding: 1rem;
 }

.cards__name {
    font-size: 2rem;
    margin-left: .4rem;
    font-weight: bold;
    color: #494949;
    line-height: 150%;
    display: flex;
    justify-content: left;
}

.cards__text{
    font-size: 1.5rem;
    margin-left: .4rem;
    font-weight: bold;
    color: #363738;
    display: flex;
    justify-content: left;
}