footer{
    height:40vh;
    width: 100%;
    position: relative;
}

.footer-content{
    position: absolute;
    text-align: center;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-content h3{
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #bebebe, rgb(97, 114, 190));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;  
}

.footer-content p{
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #bebebe, rgb(97, 114, 190));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    justify-content: center;
    letter-spacing: 2px;
    padding: 2rem;
}

.social-media{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.media-icon{
    font-size: 3rem;
    margin: 0 2rem;
    background-image: linear-gradient(to right, #bebebe, rgb(146, 150, 170));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s;

}

.media-icon:hover{
    color: rgb(214, 214, 214);
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

.footer-bottom p{
    position: absolute;
    top:80%;
    left:3%;
    font-size: 1.8rem;
    background-image: linear-gradient(to right, #bebebe, rgb(146, 150, 170));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.footer-bottom div{
    position: absolute;
    top:80%;
    left: 85%;
    font-size: 1.8rem;
    background-image: linear-gradient(to right, #bebebe, rgb(146, 150, 170));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.footer-bottom div:hover{
    color: rgb(214, 214, 214);
    cursor: pointer;
}

.footer-bottom i{
    font-size: 1.8rem;
}

@media(max-width:768px) {
    .footer-content h3{
        font-size: 1.8rem;
    }
    .footer-content p{
        font-size: 1.2rem;
    }
    .media-icon{
        font-size: 2rem;
    }
    .footer-bottom p{
        font-size: 1.2rem;
    }
}

@media(max-width:425px){
    footer{
        height:57vh;
    }
    .footer-content h3{
        font-size: 1.8rem;
    }
    .footer-content p{
        font-size: 1.2rem;
    }
    .media-icon{
        font-size: 1.4rem;
    }
    .footer-bottom p{
        font-size: 1.2rem;
        top:86%;
    }
}


@media(max-width:375px) {
    footer{
        height:50vh;
    }
    .footer-content h3{
        font-size: 1.5rem;
    }
    .footer-content p{
        font-size: .9rem;
    }
    .media-icon{
        font-size: 1.5rem;
    }
    .footer-bottom p{
        margin-top: 2rem;
        font-size: 1rem;
        top:82.5%;        
    }
}


@media(max-width:320px) {
    footer{
        height:50vh;
    }
    .footer-content h3{
        font-size: 1.5rem;
    }
    .footer-content p{
        font-size: .9rem;
    }
    .media-icon{
        font-size: 1.5rem;
    }
    .footer-bottom p{
        margin-top: 2rem;
        font-size: 1rem;
        top:82.5%;        
    }
}

/* @media(max-width:411px) and (height:731px){
    .footer-bottom p{
        margin-top: 2rem;
        font-size: 1rem;
    }
}

@media(max-width:320px) and (height:568px){
    footer{
        height:48vh;
    }
}

@media(max-width:414px) and (height:736px){
    .footer-bottom p{
        margin-top: 2rem;
    }
}

@media(max-width:768px) and (height:1024px){
    .footer-content h3{
        font-size: 2.4rem;
    }
    .footer-content p{
        font-size: 1.3rem;
    }
    .media-icon{
        font-size: 3rem;
    }
    .footer-bottom p{
        margin-top: 2rem;
        font-size: 1rem;
    }
}

@media(max-width:1024px) and (height:1366px){
    .footer-content h3{
        font-size: 3.3rem;
    }
    .footer-content p{
        font-size: 1.8rem;
    }
    .media-icon{
        font-size: 4.5rem;
    }
    .footer-bottom p{
        font-size: 2rem;
    }
} */
