.main-container{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

video{
    object-fit: cover;
    width:100%;
    height:100vh;
}

.text-main{
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-main h1{
    font-size: 3rem;
    padding: .3rem;
    text-transform: uppercase;  
    font-weight:bolder;
    background-image: linear-gradient(to left, #8d9ad3, rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    width: 100%;
}

.text-main p{
    font-size: 2rem;
    text-transform: uppercase;  
    background-image: linear-gradient(to left, #7c8092, rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
}

@media (max-width:768px){
    .text-main h1{
        font-size: 2.2rem;
        padding: .3rem 0rem;

    }
    .text-main p{
        font-size: 2rem;
    }
}

@media (max-width:425px){
    .text-main h1{
        font-size: 1.8rem;
        padding: .3rem 0rem;

    }
    .text-main p{
        font-size: 1rem;
    }
}

@media (max-width:425px){
    .text-main h1{
        font-size: 1.6rem;
        padding: 0rem 0rem;

    }
    .text-main p{
        font-size: .8rem;
    }
}

@media (max-width:320px){
    .text-main h1{
        font-size: 1.6rem;
        padding: 0rem 0rem;

    }
    .text-main p{
        font-size: .8rem;
    }
}

/* Animation */
.fade-in-main-title{
    animation: fade-in-main-title 3s ease-in-out 1.3s both;
    -webkit-animation:fade-in-main-title 3s ease-in-out 1.3s both;
}

@keyframes fade-in-main-title {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
  @-webkit-keyframes fade-in-main-title {
    0% {opacity:0;}
    100% {opacity:1;}
}