.navbar {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 4rem;
    position: fixed;
	width: 100%;
    z-index: 3;
    background-image: linear-gradient(to top, #e2e2e2, rgb(175, 175, 175));
}

.navbar-logo {
	color: rgb(36, 36, 36);
    font-size: 2.5rem;
    letter-spacing: .18rem;
    text-transform: uppercase;
    justify-self: start;
    display: flex;
    align-items: center;
	transition: 0.7s;
}

.navbar-logo:hover{
    color: rgb(245, 245, 245);
    cursor: pointer;
	transition: 0.5s;
}


.nav-links {
	display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap:12px;
    text-align: center;
    justify-content: center;
}

.nav-link{
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
    letter-spacing: .18rem;
    margin-right:5rem;
	transition: 0.7s;
}

.nav-link:hover{
    color: rgb(245, 245, 245);
    cursor: pointer;
	transition: 0.5s;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media (max-width:768px){
    
	.navbar {
		position: relative;
	}

	.nav-links {
        position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		top: 4.7rem;
		left: -100%;
		transition: 0.6s all;
	}

	.nav-links.active {
        background-image: linear-gradient(to bottom, #dadada, rgb(175, 175, 175));
		left: 0;
	}

	.nav-item {
		padding: .6rem 0;
        border-bottom: 1px solid rgb(167, 167, 167);
	}

	.nav-icon {
		display: flex;
	}
}