.scroll-to-top{
    position:fixed;
    width: 10rem;
    bottom:4rem; 
    right:2rem;
    height: 3rem;
    z-index: 34;
}

.scroll-to-top:hover{
    cursor: pointer;
}

.scroll-icon{
    font-size: 5rem;
    background-image: linear-gradient(to right, #b3b3b3, rgb(207, 207, 207));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}




