.scroll-to-top{
    position:fixed;
    width: 10rem;
    bottom:4rem; 
    right:2rem;
    height: 3rem;
    z-index: 34;
}

.scroll-to-top:hover{
    cursor: pointer;
}

.scroll-icon{
    font-size: 5rem;
    background-image: linear-gradient(to right, #a0a0a0, rgb(172, 172, 172));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media(max-width:850px) {
    .scroll-icon{
        font-size: 3rem;
    }
}

@media(max-width:508px) {
    .scroll-to-top{
        right:.3rem; 
    }
    .scroll-icon{
        font-size: 2.5rem;
    }  
}

@media(max-width:375px) {
    .scroll-to-top{
        right:-2.7rem; 
        top: 94.6%;
    }
    .scroll-icon{
        font-size: 1.5rem;
    }  
}

/* MEDIA */

@media(max-width:411px) and (height:731px){
    .scroll-to-top{
        top: 94.5%;
    }
    .scroll-icon{
        font-size: 2rem;
    }  
}

@media(max-width:414px) and (height:736px){
    .scroll-to-top{
        top: 94.5%;
    }
    .scroll-icon{
        font-size: 1.8rem;
    } 
}

@media(max-width:768px) and (height:1024px){
    .scroll-to-top{
        top: 94%;
    }
    .scroll-icon{
        font-size: 1.8rem;
    } 
}

@media(max-width:1024px) and (height:1366px){
    .scroll-to-top{
        right:-2.7rem; 
        top: 91.8%;
    }
    .scroll-icon{
        font-size: 4rem;
    }  
}

@media(max-width:540px) and (height:720px){
    .scroll-to-top{
        right:-2.7rem; 
        top: 91.8%;
    }
    .scroll-icon{
        font-size: 2rem;
    }  
}


