*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  scroll-behavior: smooth;  
  font-family: 'Sarabun', sans-serif;
}
html{
  background-image: linear-gradient(to bottom, #130d05, rgb(6, 6, 34));
}